.banner__image {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 306px;
  right: 37px;
  object-fit: contain;
}

@media (min-width: 480px) {
  .banner__image {
    width: 350px;
    height: 357px;
    top: 262px;
    right: 20px;
  }
}

@media (min-width: 768px) {
  .banner__image {
    width: 470px;
    height: 480px;
    top: 387px;
  }
}

@media (min-width: 1000px) {
  .banner__image {
    width: 543px;
    height: 553px;
    top: 266px;
    right: 75px;
  }
}

@media (min-width: 1920px) {
  .banner__image {
    top: 347px;
    right: 359px;
  }
}
