@import url('./utils/vars.css');

.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1920px;
  min-height: 1080px;
  font-family: 'Montserrat', Arial, sans-serif;
  color: var(--color-text-base);
  background-image: linear-gradient(180deg, #7B44A6 19.75%, #391F4E 128.84%);
  box-sizing: border-box;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.button {
  width: 250px;
  margin: 0;
  padding: 17.5px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  color: var(--color-text-base);
  background-color: #7B44A6;
  border: none;
  border-radius: 15px;
}

.display_none {
  display: none;
}