.answer {
  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 1064px;

  &_showed {
    display: flex;
  }
}

.answer__text {
  margin: 105px auto 63px;
  padding: 0;
  font-size: 60px;
  line-height: 73px;
  font-weight: 600;
  text-transform: uppercase;

  &::first-letter {
    color: var(--color-text-accent);
  }
}

.answer__image {
  width: 120px;
  height: 120px;
  margin: 0 auto 63px;
  object-fit: fill;
}
