.page {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 1920px;
  min-height: 1080px;
  font-family: 'Montserrat', Arial, sans-serif;
  color: var(--color-text-base);
  background-image: linear-gradient(180deg, #7B44A6 19.75%, #391F4E 128.84%);
  box-sizing: border-box;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
}