.rules-section__rule {
  position: absolute;
  max-width: 150px;
  margin: 0;
  padding: 12px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  letter-spacing: .1em;
  text-align: center;
  color: var(--color-text-base);
  background-color: var(--color-background-message);
  border-radius: 8px;
  box-sizing: border-box;
  z-index: 2;
}

@media (min-width: 1000px) {
  .rules-section__rule {
    max-width: calc(150px + (100vw - 1000px) * .375);
  }
}

@media (min-width: 1920px) {
  .rules-section__rule {
    max-width: 495px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    letter-spacing: .15em;
  }
}
