.header {
  display: flex;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 15.5px 20px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background-block);
  box-sizing: border-box;
}

.header__logo {
  width: 112px;
  height: 42px;
  padding-bottom: 10px;
  object-fit: contain;
}

.header__link {
  margin: auto 0;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: .1em;
  text-decoration: none;
  color: var(--color-text-link);

  &:hover {
    text-decoration: underline 2px;
  }
}

@media (min-width: 360px) {
  .header {
    padding: calc(15.5px + (100vw - 360px) * .042) 20px;
  }

  .header__link {
    font-size: calc(16px + (100vw - 360px) * .067);
    line-height: calc(19px + (100vw - 360px) * .083);
  }
}

@media (min-width: 480px) {
  .header {
    padding: 20.5px 20px;
  }

  .header__link {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: .15em;
  }
}

@media (min-width: 1000px) {
  .header {
    padding: 20.5px calc(20px + (100vw - 1000px) * .065);
  }
}

@media (min-width: 1920px) {
  .header {
    padding: 20.5px 80px;
  }
}
