.playing-field {
  display: flex;
  width: 100%;
  padding: 104px 160px 87px;
  justify-content: space-between;
  box-sizing: border-box;
}

.playing-field__themes {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.playing-field__questions {
  display: flex;
  width: 1290px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 10px 10px;
  list-style-type: none;
}